@import './variables.scss';

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  //background-color: #282c34;
  background-color: $primary-color;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  //color: #61dafb;
  color: $secondary-color;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.App{
  .container{
    margin-top:100px;
    ul.tabs{
      li.tab{
        background-color:$a-color;
        a{
          color:$color-white;
          font-weight: bold;
          
          &.active{
            background-color:$tab-active;
          }
        }
      }
    }
  }
  .error-msg{
    color:$error-text;
    font-size:11px;
    font-weight: bold;
  }
}

#Login{
  background-color:$container-bg-color;

  a{
    color:$a-color;
    font-weight: bold;
  }
}
